* {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  text-align: center;
}

img {
  display: none;
}

.button {
  border: 1px solid #000000;
  border-radius: 10px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

.game-over {
  margin-top: 150px;
}

.button-text {
  line-height: 50px;
}

.text {
  margin-bottom: 50px;
  text-align: center;
}

.welcome {
  margin-top: 150px;
}


#canvas {
  border-top: 5px solid #000000;
  border-right: 5px solid #000000;
  border-left: 5px solid #000000;
  margin: 0 auto;
}

#score {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px
}
